/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 févr. 2018, 09:52:57
    Author     : Maha
*/

#aujourdhui
{
    -fx-background-image :  url("/Presentation/Images/aujourdhui.png");
}

#demain
{
    -fx-background-image :  url("/Presentation/Images/demain.png");
}

#semaine
{
    -fx-background-image :  url("/Presentation/Images/semaine.png");
}


#event
{
    -fx-background-image :  url("/Presentation/Images/event.png");
}

#ajout
{
    -fx-background-image :  url("/Presentation/Images/ajout.png");
}

#modif
{
    -fx-background-image :  url("/Presentation/Images/modif.png");
}

#supprimer
{
    -fx-background-image :  url("/Presentation/Images/supprimer.png");
}

